<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>RazeLab</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div th:replace="fragment/header :: cssLink"></div>
<body>
	<div th:replace="fragment/header :: header"></div>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="input-group">
						<span class="input-group-addon" id="sentence_input">Entity</span> <input
							type="text" class="form-control"
							placeholder="contoh: makanan, layanan"
							aria-describedby="basic-addon1"></input>
					</div>
					<br></br>
					<div class="input-group">
						<span class="input-group-addon" id="parent_intent_input">Member</span> <input
							type="text" class="form-control"
							placeholder="Contoh: mie ayam, tempe, tahu, sate padang"
							aria-describedby="basic-addon1"></input>
					</div>
					<br></br>
					<button type="button" class="col-lg-12 btn btn-primary">Record</button>
				</div>
			</div>
		</div>
	</header>

	<!-- Footer -->
	<footer class="text-center">
		<div class="footer-above">
			<div class="container">
				<div class="row">
					<div class="footer-col col-md-12">
						<h3>For GoHackathon 2017</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">Copyright &copy; Razelab 2017</div>
				</div>
			</div>
		</div>
	</footer>


	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>